# MIMIC III Preprocessing

## Initialization and Data Loading

In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql.types import *

In [2]:
conf = SparkConf().setAppName("preprocess").setMaster("local")
sc = SparkContext.getOrCreate(conf)
spark = SparkSession.builder.master("local").appName("preprocess").getOrCreate()

ne_struct = StructType([StructField("row_id", IntegerType(), True),
                      StructField("subject_id", IntegerType(), True),
                      StructField("hadm_id", IntegerType(), True),
                      StructField("chartdate", DateType(), True),
                      StructField("category", StringType(), True),
                      StructField("description", StringType(), True),
                      StructField("cgid", IntegerType(), True),
                      StructField("iserror", IntegerType(), True),
                      StructField("text", StringType(), True)])
#df_ne = spark.read.csv("./data/NOTEEVENTS-2.csv",
df_ne = spark.read.csv("./data/NOTEEVENTS-2sample.csv",
                       header=True,
                       schema=ne_struct)
df_ne.registerTempTable("noteevents")
df_ne.filter(df_ne.category=="Discharge summary") \
    .registerTempTable("noteevents2")
    
# i want to cache noteevents, but it's too big

# many icd to one hadm_id
diag_struct = StructType([StructField("ROW_ID", IntegerType(), True),
                          StructField("SUBJECT_ID", IntegerType(), True),
                          StructField("HADM_ID", IntegerType(), True),
                          StructField("SEQ_NUM", IntegerType(), True),
                          StructField("ICD9_CODE", StringType(), True)])
df_diag_m = spark.read.csv("./data/DIAGNOSES_ICD.csv",
                           header=True,
                           schema=diag_struct) \
            .selectExpr("ROW_ID as row_id", 
                        "SUBJECT_ID as subject_id",
                        "HADM_ID as hadm_id",
                        "SEQ_NUM as seq_num",
                        "ICD9_CODE as icd9_code")
df_diag_m.registerTempTable("diagnoses_icd_m")
df_diag_m.cache()

# one icd to one hadm_id (take the smallest seq number as primary)
diag_o_rdd = df_diag_m.rdd.sortBy(lambda x: (x.hadm_id, x.subject_id, x.seq_num)) \
    .groupBy(lambda x: x.hadm_id) \
    .mapValues(list) \
    .reduceByKey(lambda x, y: x if x.seq_num < y.seq_num else y) \
    .map(lambda (hid, d): d[0])
df_diag_o = spark.createDataFrame(diag_o_rdd)
df_diag_o.registerTempTable("diagnoses_icd_o")
df_diag_o.cache()

# get hadm_id list in noteevents
df_hadm_id_list = spark.sql("""
SELECT DISTINCT hadm_id FROM noteevents2
""")
df_hadm_id_list.registerTempTable("hadm_id_list")
df_hadm_id_list.cache()

# get subject_id list in noteevents
df_subject_id_list = spark.sql("""
SELECT DISTINCT subject_id FROM noteevents2
""")
df_subject_id_list.registerTempTable("subject_id_list")
df_subject_id_list.cache()

df_icd9desc = spark.read.csv("./data/D_ICD_DIAGNOSES.csv",
                       header=True, inferSchema=True)
df_icd9desc.registerTempTable("diagnoses_icd_desc")

df_diag_o2 = spark.sql("""
SELECT row_id, subject_id, diagnoses_icd_o.hadm_id AS hadm_id,
seq_num, icd9_code
FROM diagnoses_icd_o JOIN hadm_id_list
ON diagnoses_icd_o.hadm_id = hadm_id_list.hadm_id
""")
df_diag_o2.registerTempTable("diagnoses_icd_o2")
df_diag_o2.cache()

df_diag_m2 = spark.sql("""
SELECT row_id, subject_id, diagnoses_icd_m.hadm_id AS hadm_id,
seq_num, icd9_code
FROM diagnoses_icd_m JOIN hadm_id_list
ON diagnoses_icd_m.hadm_id = hadm_id_list.hadm_id
""")
df_diag_m2.registerTempTable("diagnoses_icd_m2")
df_diag_m2.cache()

print df_ne.dtypes
print df_diag_m.dtypes
print df_diag_o.dtypes
print df_hadm_id_list.dtypes
print df_subject_id_list.dtypes
print df_icd9desc.dtypes

[('row_id', 'int'), ('subject_id', 'int'), ('hadm_id', 'int'), ('chartdate', 'date'), ('category', 'string'), ('description', 'string'), ('cgid', 'int'), ('iserror', 'int'), ('text', 'string')]
[('row_id', 'int'), ('subject_id', 'int'), ('hadm_id', 'int'), ('seq_num', 'int'), ('icd9_code', 'string')]
[('row_id', 'bigint'), ('subject_id', 'bigint'), ('hadm_id', 'bigint'), ('seq_num', 'bigint'), ('icd9_code', 'string')]
[('hadm_id', 'int')]
[('subject_id', 'int')]
[('ROW_ID', 'int'), ('ICD9_CODE', 'string'), ('SHORT_TITLE', 'string'), ('LONG_TITLE', 'string')]

## Descriptive Statistics

### noteevents
Basic Counts:

In [5]:
spark.sql("""
SELECT COUNT(*), COUNT(DISTINCT subject_id), COUNT(DISTINCT hadm_id)
FROM noteevents
""").show()
spark.sql("""
SELECT COUNT(*), COUNT(DISTINCT subject_id), COUNT(DISTINCT hadm_id)
FROM noteevents2
""").show()

+--------+--------------------------+-----------------------+
|count(1)|count(DISTINCT subject_id)|count(DISTINCT hadm_id)|
+--------+--------------------------+-----------------------+
| 2083180|                     46146|                  58361|
+--------+--------------------------+-----------------------+

+--------+--------------------------+-----------------------+
|count(1)|count(DISTINCT subject_id)|count(DISTINCT hadm_id)|
+--------+--------------------------+-----------------------+
|   59652|                     41127|                  52726|
+--------+--------------------------+-----------------------+

In [6]:
spark.sql("""
SELECT COUNT(DISTINCT hadm_id) AS hadm_count
FROM diagnoses_icd_m2
WHERE icd9_code IN
    (SELECT icd9_code
    FROM diagnoses_icd_m2
    GROUP BY icd9_code
    ORDER BY COUNT(DISTINCT hadm_id) DESC
    LIMIT 10)
""").show()

spark.sql("""
SELECT COUNT(DISTINCT hadm_id) AS hadm_count
FROM diagnoses_icd_m2
WHERE icd9_code IN
    (SELECT icd9_code
    FROM diagnoses_icd_m2
    GROUP BY icd9_code
    ORDER BY COUNT(DISTINCT hadm_id) DESC
    LIMIT 50)
""").show()

spark.sql("""
SELECT COUNT(DISTINCT hadm_id) AS hadm_count
FROM diagnoses_icd_m2
WHERE icd9_code IN
    (SELECT icd9_code
    FROM diagnoses_icd_m2
    GROUP BY icd9_code
    ORDER BY COUNT(DISTINCT hadm_id) DESC
    LIMIT 100)
""").show()

+----------+
|hadm_count|
+----------+
|     40562|
+----------+

+----------+
|hadm_count|
+----------+
|     49354|
+----------+

+----------+
|hadm_count|
+----------+
|     50625|
+----------+

Categories:

In [25]:
spark.sql("""
SELECT DISTINCT(category)
FROM noteevents
""").show(truncate=False)

+-----------------+
|category         |
+-----------------+
|ECG              |
|Respiratory      |
|Nursing          |
|General          |
|Consult          |
|Echo             |
|Nutrition        |
|Physician        |
|Pharmacy         |
|Rehab Services   |
|Case Management  |
|Radiology        |
|Nursing/other    |
|Discharge summary|
|Social Work      |
+-----------------+

### diagnoses_icd: many (icd_code) to one (hadm_id)
Basic Counts:

In [8]:
spark.sql("""
SELECT COUNT(*), COUNT(DISTINCT subject_id), 
COUNT(DISTINCT hadm_id), COUNT(DISTINCT ICD9_CODE)
FROM diagnoses_icd_m
""").show()

spark.sql("""
SELECT COUNT(*), COUNT(DISTINCT subject_id), 
COUNT(DISTINCT hadm_id), COUNT(DISTINCT LOWER(ICD9_CODE))
FROM diagnoses_icd_m
""").show()

+--------+--------------------------+-----------------------+-------------------------+
|count(1)|count(DISTINCT subject_id)|count(DISTINCT hadm_id)|count(DISTINCT ICD9_CODE)|
+--------+--------------------------+-----------------------+-------------------------+
|  651047|                     46520|                  58976|                     6984|
+--------+--------------------------+-----------------------+-------------------------+

+--------+--------------------------+-----------------------+--------------------------------+
|count(1)|count(DISTINCT subject_id)|count(DISTINCT hadm_id)|count(DISTINCT lower(ICD9_CODE))|
+--------+--------------------------+-----------------------+--------------------------------+
|  651047|                     46520|                  58976|                            6984|
+--------+--------------------------+-----------------------+--------------------------------+

### diagnoses_icd: one (icd_code) to one (hadm_id)
Basic Counts:

In [9]:
spark.sql("""
SELECT COUNT(*), COUNT(DISTINCT subject_id), 
COUNT(DISTINCT hadm_id), COUNT(DISTINCT ICD9_CODE)
FROM diagnoses_icd_o
""").show()

spark.sql("""
SELECT COUNT(*), COUNT(DISTINCT subject_id), 
COUNT(DISTINCT hadm_id), COUNT(DISTINCT LOWER(ICD9_CODE))
FROM diagnoses_icd_o
""").show()

+--------+--------------------------+-----------------------+-------------------------+
|count(1)|count(DISTINCT subject_id)|count(DISTINCT hadm_id)|count(DISTINCT ICD9_CODE)|
+--------+--------------------------+-----------------------+-------------------------+
|   58976|                     46520|                  58976|                     2789|
+--------+--------------------------+-----------------------+-------------------------+

+--------+--------------------------+-----------------------+--------------------------------+
|count(1)|count(DISTINCT subject_id)|count(DISTINCT hadm_id)|count(DISTINCT lower(ICD9_CODE))|
+--------+--------------------------+-----------------------+--------------------------------+
|   58976|                     46520|                  58976|                            2789|
+--------+--------------------------+-----------------------+--------------------------------+

Just to check if I really did get "seq_num = 1" for all diagnosis, the code below should return empty.

In [10]:
# check code
spark.sql("""
SELECT *
FROM diagnoses_icd_o
WHERE seq_num <> 1
""").show()

+------+----------+-------+-------+---------+
|row_id|subject_id|hadm_id|seq_num|icd9_code|
+------+----------+-------+-------+---------+
+------+----------+-------+-------+---------+

### noteevents and diagnoses_icd (one to one)
Basic Counts:

In [11]:
spark.sql("""
SELECT COUNT(DISTINCT subject_id), 
COUNT(DISTINCT hadm_id), COUNT(DISTINCT icd9_code)
FROM diagnoses_icd_o2
""").show()

+--------------------------+-----------------------+-------------------------+
|count(DISTINCT subject_id)|count(DISTINCT hadm_id)|count(DISTINCT icd9_code)|
+--------------------------+-----------------------+-------------------------+
|                     41127|                  52726|                     2706|
+--------------------------+-----------------------+-------------------------+

Top 50 ICD 9 codes based on "subject_id" count

In [12]:
spark.sql("""
SELECT a.icd9_code, sid_count, SHORT_TITLE, LONG_TITLE FROM
    (SELECT icd9_code, COUNT(DISTINCT subject_id) AS sid_count
    FROM diagnoses_icd_o2
    GROUP BY icd9_code
    ORDER BY sid_count DESC
    LIMIT 50) AS a
JOIN diagnoses_icd_desc
ON diagnoses_icd_desc.ICD9_CODE = a.icd9_code
""").show(n=50, truncate=50)

+---------+---------+------------------------+--------------------------------------------------+
|icd9_code|sid_count|             SHORT_TITLE|                                        LONG_TITLE|
+---------+---------+------------------------+--------------------------------------------------+
|    41401|     3435|Crnry athrscl natve vssl|Coronary atherosclerosis of native coronary artery|
|     0389|     1837|          Septicemia NOS|                            Unspecified septicemia|
|    41071|     1672|Subendo infarct, initial|Subendocardial infarction, initial episode of care|
|    V3001|     1390|  Single lb in-hosp w cs|Single liveborn, born in hospital, delivered by...|
|     4241|     1128|   Aortic valve disorder|                            Aortic valve disorders|
|    51881|      986|Acute respiratry failure|                         Acute respiratory failure|
|    V3000|      949|Single lb in-hosp w/o cs|Single liveborn, born in hospital, delivered wi...|
|      431|      948|Intracerebral hemorrhage|                          Intracerebral hemorrhage|
|    V3101|      851|Twin-mate lb-in hos w cs|Twin birth, mate liveborn, born in hospital, de...|
|      486|      654| Pneumonia, organism NOS|                   Pneumonia, organism unspecified|
|     5070|      581|  Food/vomit pneumonitis|  Pneumonitis due to inhalation of food or vomitus|
|     4240|      552|   Mitral valve disorder|                            Mitral valve disorders|
|     4280|      513|                 CHF NOS|             Congestive heart failure, unspecified|
|     5849|      500|Acute kidney failure NOS|                 Acute kidney failure, unspecified|
|      430|      491| Subarachnoid hemorrhage|                           Subarachnoid hemorrhage|
|    41011|      469| AMI anterior wall, init|Acute myocardial infarction of other anterior w...|
|    41041|      465| AMI inferior wall, init|Acute myocardial infarction of other inferior w...|
|     5789|      410| Gastrointest hemorr NOS| Hemorrhage of gastrointestinal tract, unspecified|
|     5770|      343|      Acute pancreatitis|                                Acute pancreatitis|
|    41519|      334|  Pulm embol/infarct NEC|           Other pulmonary embolism and infarction|
|    43411|      330|    Crbl emblsm w infrct|        Cerebral embolism with cerebral infarction|
|     1983|      330| Sec mal neo brain/spine|Secondary malignant neoplasm of brain and spina...|
|    43491|      318|Crbl art ocl NOS w infrc|Cerebral artery occlusion, unspecified with cer...|
|    42731|      307|     Atrial fibrillation|                               Atrial fibrillation|
|    99859|      299|  Other postop infection|                     Other postoperative infection|
|    03842|      291|       E coli septicemia|      Septicemia due to escherichia coli [E. coli]|
|    85221|      279|   Subdural hem w/o coma|Subdural hemorrhage following injury without me...|
|    56212|      251|   Dvrtclo colon w hmrhg|           Diverticulosis of colon with hemorrhage|
|    42823|      246| Ac on chr syst hrt fail|           Acute on chronic systolic heart failure|
|    V3401|      235|Oth mult lb-in hosp w cs|Other multiple birth (three or more), mates all...|
|    99662|      229|React-oth vasc dev/graft|Infection and inflammatory reaction due to othe...|
|    42833|      229|Ac on chr diast hrt fail|          Acute on chronic diastolic heart failure|
|     4271|      221| Parox ventric tachycard|                Paroxysmal ventricular tachycardia|
|    51884|      220|Acute & chronc resp fail|             Acute and chronic respiratory failure|
|     4321|      214|     Subdural hemorrhage|                               Subdural hemorrhage|
|     5712|      212| Alcohol cirrhosis liver|                      Alcoholic cirrhosis of liver|
|    99811|      209| Hemorrhage complic proc|               Hemorrhage complicating a procedure|
|    49121|      208|Obs chr bronc w(ac) exac|Obstructive chronic bronchitis with (acute) exa...|
|     4373|      202|Nonrupt cerebral aneurym|                    Cerebral aneurysm, nonruptured|
|    03849|      201| Gram-neg septicemia NEC|   Other septicemia due to gram-negative organisms|
|    85220|      197|  Traumatic subdural hem|Subdural hemorrhage following injury without me...|
|    03811|      192|Meth susc Staph aur sept|Methicillin susceptible Staphylococcus aureus s...|
|     4414|      184|   Abdom aortic aneurysm|     Abdominal aneurysm without mention of rupture|
|    25013|      183|  DMI ketoacd uncontrold|Diabetes with ketoacidosis, type I [juvenile ty...|
|    43310|      177|  Ocl crtd art wo infrct|Occlusion and stenosis of carotid artery withou...|
|     0380|      174|Streptococcal septicemia|                          Streptococcal septicemia|
|     1623|      171| Mal neo upper lobe lung|Malignant neoplasm of upper lobe, bronchus or lung|
|    53240|      166|  Chr duoden ulcer w hem|Chronic or unspecified duodenal ulcer with hemo...|
|    44101|      165|  Dsct of thoracic aorta|                     Dissection of aorta, thoracic|
|     3962|      164|Mitral insuf/aort stenos|Mitral valve insufficiency and aortic valve ste...|
+---------+---------+------------------------+--------------------------------------------------+

Top 50 ICD 9 codes based on "hadm_id" count

In [13]:
spark.sql("""
SELECT a.icd9_code, hadm_count, SHORT_TITLE, LONG_TITLE FROM
    (SELECT icd9_code, COUNT(DISTINCT hadm_id) AS hadm_count
    FROM diagnoses_icd_o2
    GROUP BY icd9_code
    ORDER BY hadm_count DESC
    LIMIT 50) AS a
JOIN diagnoses_icd_desc
ON diagnoses_icd_desc.ICD9_CODE = a.icd9_code
""").show(n=50, truncate=50)

+---------+----------+------------------------+--------------------------------------------------+
|icd9_code|hadm_count|             SHORT_TITLE|                                        LONG_TITLE|
+---------+----------+------------------------+--------------------------------------------------+
|    41401|      3464|Crnry athrscl natve vssl|Coronary atherosclerosis of native coronary artery|
|     0389|      1976|          Septicemia NOS|                            Unspecified septicemia|
|    41071|      1719|Subendo infarct, initial|Subendocardial infarction, initial episode of care|
|    V3001|      1390|  Single lb in-hosp w cs|Single liveborn, born in hospital, delivered by...|
|     4241|      1136|   Aortic valve disorder|                            Aortic valve disorders|
|    51881|      1089|Acute respiratry failure|                         Acute respiratory failure|
|      431|       966|Intracerebral hemorrhage|                          Intracerebral hemorrhage|
|    V3000|       949|Single lb in-hosp w/o cs|Single liveborn, born in hospital, delivered wi...|
|    V3101|       851|Twin-mate lb-in hos w cs|Twin birth, mate liveborn, born in hospital, de...|
|      486|       703| Pneumonia, organism NOS|                   Pneumonia, organism unspecified|
|     5070|       641|  Food/vomit pneumonitis|  Pneumonitis due to inhalation of food or vomitus|
|     4240|       558|   Mitral valve disorder|                            Mitral valve disorders|
|     4280|       553|                 CHF NOS|             Congestive heart failure, unspecified|
|     5849|       518|Acute kidney failure NOS|                 Acute kidney failure, unspecified|
|      430|       495| Subarachnoid hemorrhage|                           Subarachnoid hemorrhage|
|    41011|       472| AMI anterior wall, init|Acute myocardial infarction of other anterior w...|
|    41041|       467| AMI inferior wall, init|Acute myocardial infarction of other inferior w...|
|     5789|       432| Gastrointest hemorr NOS| Hemorrhage of gastrointestinal tract, unspecified|
|     5770|       365|      Acute pancreatitis|                                Acute pancreatitis|
|     1983|       355| Sec mal neo brain/spine|Secondary malignant neoplasm of brain and spina...|
|    41519|       337|  Pulm embol/infarct NEC|           Other pulmonary embolism and infarction|
|    43411|       331|    Crbl emblsm w infrct|        Cerebral embolism with cerebral infarction|
|    43491|       318|Crbl art ocl NOS w infrc|Cerebral artery occlusion, unspecified with cer...|
|    42731|       317|     Atrial fibrillation|                               Atrial fibrillation|
|    99859|       308|  Other postop infection|                     Other postoperative infection|
|    03842|       304|       E coli septicemia|      Septicemia due to escherichia coli [E. coli]|
|    85221|       289|   Subdural hem w/o coma|Subdural hemorrhage following injury without me...|
|    99662|       285|React-oth vasc dev/graft|Infection and inflammatory reaction due to othe...|
|    25013|       284|  DMI ketoacd uncontrold|Diabetes with ketoacidosis, type I [juvenile ty...|
|    42823|       284| Ac on chr syst hrt fail|           Acute on chronic systolic heart failure|
|    42833|       267|Ac on chr diast hrt fail|          Acute on chronic diastolic heart failure|
|    56212|       267|   Dvrtclo colon w hmrhg|           Diverticulosis of colon with hemorrhage|
|    49121|       264|Obs chr bronc w(ac) exac|Obstructive chronic bronchitis with (acute) exa...|
|     4271|       255| Parox ventric tachycard|                Paroxysmal ventricular tachycardia|
|     5712|       247| Alcohol cirrhosis liver|                      Alcoholic cirrhosis of liver|
|    51884|       245|Acute & chronc resp fail|             Acute and chronic respiratory failure|
|     4373|       242|Nonrupt cerebral aneurym|                    Cerebral aneurysm, nonruptured|
|    V3401|       235|Oth mult lb-in hosp w cs|Other multiple birth (three or more), mates all...|
|     4321|       231|     Subdural hemorrhage|                               Subdural hemorrhage|
|    29181|       229|      Alcohol withdrawal|                                Alcohol withdrawal|
|    99811|       210| Hemorrhage complic proc|               Hemorrhage complicating a procedure|
|    03849|       207| Gram-neg septicemia NEC|   Other septicemia due to gram-negative organisms|
|    85220|       201|  Traumatic subdural hem|Subdural hemorrhage following injury without me...|
|    03811|       198|Meth susc Staph aur sept|Methicillin susceptible Staphylococcus aureus s...|
|      042|       187|  Human immuno virus dis|        Human immunodeficiency virus [HIV] disease|
|     4414|       184|   Abdom aortic aneurysm|     Abdominal aneurysm without mention of rupture|
|    43310|       180|  Ocl crtd art wo infrct|Occlusion and stenosis of carotid artery withou...|
|     0380|       176|Streptococcal septicemia|                          Streptococcal septicemia|
|    44101|       174|  Dsct of thoracic aorta|                     Dissection of aorta, thoracic|
|     1623|       173| Mal neo upper lobe lung|Malignant neoplasm of upper lobe, bronchus or lung|
+---------+----------+------------------------+--------------------------------------------------+

### noteevents and diagnoses_icd (many to one)
Basic Counts:

In [7]:
spark.sql("""
SELECT COUNT(DISTINCT subject_id), 
COUNT(DISTINCT hadm_id), COUNT(DISTINCT icd9_code)
FROM diagnoses_icd_m2
""").show()

spark.sql("""
SELECT COUNT(DISTINCT subject_id), 
COUNT(DISTINCT hadm_id), COUNT(DISTINCT icd9_code)
FROM (
    SELECT row_id, subject_id, diagnoses_icd_m.hadm_id AS hadm_id,
    seq_num, icd9_code
    FROM diagnoses_icd_m JOIN (SELECT DISTINCT hadm_id FROM noteevents) AS a
    ON diagnoses_icd_m.hadm_id = a.hadm_id
)
""").show()

+--------------------------+-----------------------+-------------------------+
|count(DISTINCT subject_id)|count(DISTINCT hadm_id)|count(DISTINCT icd9_code)|
+--------------------------+-----------------------+-------------------------+
|                     41127|                  52726|                     6918|
+--------------------------+-----------------------+-------------------------+

+--------------------------+-----------------------+-------------------------+
|count(DISTINCT subject_id)|count(DISTINCT hadm_id)|count(DISTINCT icd9_code)|
+--------------------------+-----------------------+-------------------------+
|                     46139|                  58361|                     6967|
+--------------------------+-----------------------+-------------------------+

Top ICD 9 codes based on "subject_id" count

In [15]:
spark.sql("""
SELECT a.icd9_code, sid_count, SHORT_TITLE, LONG_TITLE FROM
    (SELECT icd9_code, COUNT(DISTINCT subject_id) AS sid_count
    FROM diagnoses_icd_m2
    GROUP BY icd9_code
    ORDER BY sid_count DESC
    LIMIT 50) AS a
JOIN diagnoses_icd_desc
ON diagnoses_icd_desc.ICD9_CODE = a.icd9_code
""").show(n=50, truncate=50)

+---------+---------+------------------------+--------------------------------------------------+
|icd9_code|sid_count|             SHORT_TITLE|                                        LONG_TITLE|
+---------+---------+------------------------+--------------------------------------------------+
|     4019|    17138|        Hypertension NOS|                Unspecified essential hypertension|
|    41401|    10579|Crnry athrscl natve vssl|Coronary atherosclerosis of native coronary artery|
|    42731|    10053|     Atrial fibrillation|                               Atrial fibrillation|
|     4280|     9669|                 CHF NOS|             Congestive heart failure, unspecified|
|     5849|     7505|Acute kidney failure NOS|                 Acute kidney failure, unspecified|
|     2724|     7324|  Hyperlipidemia NEC/NOS|              Other and unspecified hyperlipidemia|
|    25000|     7181|DMII wo cmp nt st uncntr|Diabetes mellitus without mention of complicati...|
|    51881|     6493|Acute respiratry failure|                         Acute respiratory failure|
|     5990|     5687|Urin tract infection NOS|       Urinary tract infection, site not specified|
|     2720|     5199| Pure hypercholesterolem|                         Pure hypercholesterolemia|
|    53081|     5148|       Esophageal reflux|                                 Esophageal reflux|
|     2859|     4895|              Anemia NOS|                               Anemia, unspecified|
|      486|     4329| Pneumonia, organism NOS|                   Pneumonia, organism unspecified|
|     2851|     4195| Ac posthemorrhag anemia|                      Acute posthemorrhagic anemia|
|     2762|     4021|                Acidosis|                                          Acidosis|
|     2449|     3732|      Hypothyroidism NOS|               Unspecified acquired hypothyroidism|
|      496|     3491| Chr airway obstruct NEC|Chronic airway obstruction, not elsewhere class...|
|    99592|     3449|           Severe sepsis|                                     Severe sepsis|
|     5070|     3319|  Food/vomit pneumonitis|  Pneumonitis due to inhalation of food or vomitus|
|     0389|     3304|          Septicemia NOS|                            Unspecified septicemia|
|    V5861|     3126|Long-term use anticoagul|         Long-term (current) use of anticoagulants|
|     3051|     2926|    Tobacco use disorder|                              Tobacco use disorder|
|    41071|     2861|Subendo infarct, initial|Subendocardial infarction, initial episode of care|
|      311|     2859| Depressive disorder NEC|     Depressive disorder, not elsewhere classified|
|     5859|     2855|  Chronic kidney dis NOS|               Chronic kidney disease, unspecified|
|    40390|     2784|Hy kid NOS w cr kid I-IV|Hypertensive chronic kidney disease, unspecifie...|
|     2761|     2757|           Hyposmolality|                 Hyposmolality and/or hyponatremia|
|     2875|     2751|    Thrombocytopenia NOS|                     Thrombocytopenia, unspecified|
|      412|     2723|  Old myocardial infarct|                         Old myocardial infarction|
|     4240|     2613|   Mitral valve disorder|                            Mitral valve disorders|
|     5119|     2528|    Pleural effusion NOS|                      Unspecified pleural effusion|
|     V290|     2519|  NB obsrv suspct infect|    Observation for suspected infectious condition|
|    V1582|     2486|  History of tobacco use|                   Personal history of tobacco use|
|    78552|     2335|            Septic shock|                                      Septic shock|
|     4241|     2285|   Aortic valve disorder|                            Aortic valve disorders|
|     9971|     2278|        Surg compl-heart|   Cardiac complications, not elsewhere classified|
|    42789|     2259|Cardiac dysrhythmias NEC|              Other specified cardiac dysrhythmias|
|    V4581|     2256|    Aortocoronary bypass|                       Aortocoronary bypass status|
|    V4582|     2202|        Status-post ptca|Percutaneous transluminal coronary angioplasty ...|
|     7742|     2174|Neonat jaund preterm del|Neonatal jaundice associated with preterm delivery|
|     5845|     2122|Ac kidny fail, tubr necr|Acute kidney failure with lesion of tubular nec...|
|     V053|     2116|Need prphyl vc vrl hepat|Need for prophylactic vaccination and inoculati...|
|     5180|     2055|      Pulmonary collapse|                                Pulmonary collapse|
|     2760|     2054|         Hyperosmolality|              Hyperosmolality and/or hypernatremia|
|    45829|     2035|Iatrogenc hypotnsion NEC|                      Other iatrogenic hypotension|
|    V5867|     1987|Long-term use of insulin|                Long-term (current) use of insulin|
|     2767|     1877|         Hyperpotassemia|                                   Hyperpotassemia|
|     4589|     1862|         Hypotension NOS|                          Hypotension, unspecified|
|     4168|     1780|Chr pulmon heart dis NEC|            Other chronic pulmonary heart diseases|
+---------+---------+------------------------+--------------------------------------------------+

Top ICD 9 codes based on "hadm_id" count

In [16]:
spark.sql("""
SELECT a.icd9_code, hadm_count, SHORT_TITLE, LONG_TITLE FROM
    (SELECT icd9_code, COUNT(DISTINCT hadm_id) AS hadm_count
    FROM diagnoses_icd_m2
    GROUP BY icd9_code
    ORDER BY hadm_count DESC
    LIMIT 50) AS a
JOIN diagnoses_icd_desc
ON diagnoses_icd_desc.ICD9_CODE = a.icd9_code
""").show(n=50, truncate=50)

+---------+----------+------------------------+--------------------------------------------------+
|icd9_code|hadm_count|             SHORT_TITLE|                                        LONG_TITLE|
+---------+----------+------------------------+--------------------------------------------------+
|     4019|     20046|        Hypertension NOS|                Unspecified essential hypertension|
|     4280|     12842|                 CHF NOS|             Congestive heart failure, unspecified|
|    42731|     12589|     Atrial fibrillation|                               Atrial fibrillation|
|    41401|     12178|Crnry athrscl natve vssl|Coronary atherosclerosis of native coronary artery|
|     5849|      8906|Acute kidney failure NOS|                 Acute kidney failure, unspecified|
|    25000|      8783|DMII wo cmp nt st uncntr|Diabetes mellitus without mention of complicati...|
|     2724|      8503|  Hyperlipidemia NEC/NOS|              Other and unspecified hyperlipidemia|
|    51881|      7249|Acute respiratry failure|                         Acute respiratory failure|
|     5990|      6442|Urin tract infection NOS|       Urinary tract infection, site not specified|
|    53081|      6154|       Esophageal reflux|                                 Esophageal reflux|
|     2720|      5766| Pure hypercholesterolem|                         Pure hypercholesterolemia|
|     2859|      5295|              Anemia NOS|                               Anemia, unspecified|
|     2449|      4785|      Hypothyroidism NOS|               Unspecified acquired hypothyroidism|
|      486|      4732| Pneumonia, organism NOS|                   Pneumonia, organism unspecified|
|     2851|      4499| Ac posthemorrhag anemia|                      Acute posthemorrhagic anemia|
|     2762|      4358|                Acidosis|                                          Acidosis|
|      496|      4296| Chr airway obstruct NEC|Chronic airway obstruction, not elsewhere class...|
|    99592|      3792|           Severe sepsis|                                     Severe sepsis|
|    V5861|      3697|Long-term use anticoagul|         Long-term (current) use of anticoagulants|
|     5070|      3592|  Food/vomit pneumonitis|  Pneumonitis due to inhalation of food or vomitus|
|     0389|      3580|          Septicemia NOS|                            Unspecified septicemia|
|     5859|      3367|  Chronic kidney dis NOS|               Chronic kidney disease, unspecified|
|    40390|      3350|Hy kid NOS w cr kid I-IV|Hypertensive chronic kidney disease, unspecifie...|
|      311|      3347| Depressive disorder NEC|     Depressive disorder, not elsewhere classified|
|     3051|      3272|    Tobacco use disorder|                              Tobacco use disorder|
|      412|      3203|  Old myocardial infarct|                         Old myocardial infarction|
|     2875|      3002|    Thrombocytopenia NOS|                     Thrombocytopenia, unspecified|
|    41071|      3001|Subendo infarct, initial|Subendocardial infarction, initial episode of care|
|     2761|      2985|           Hyposmolality|                 Hyposmolality and/or hyponatremia|
|    V4581|      2943|    Aortocoronary bypass|                       Aortocoronary bypass status|
|     4240|      2876|   Mitral valve disorder|                            Mitral valve disorders|
|    V1582|      2741|  History of tobacco use|                   Personal history of tobacco use|
|     5119|      2693|    Pleural effusion NOS|                      Unspecified pleural effusion|
|    V4582|      2651|        Status-post ptca|Percutaneous transluminal coronary angioplasty ...|
|    40391|      2566|  Hyp kid NOS w cr kid V|Hypertensive chronic kidney disease, unspecifie...|
|     V290|      2529|  NB obsrv suspct infect|    Observation for suspected infectious condition|
|     4241|      2517|   Aortic valve disorder|                            Aortic valve disorders|
|    78552|      2501|            Septic shock|                                      Septic shock|
|    V5867|      2497|Long-term use of insulin|                Long-term (current) use of insulin|
|    42789|      2396|Cardiac dysrhythmias NEC|              Other specified cardiac dysrhythmias|
|    32723|      2328| Obstructive sleep apnea|        Obstructive sleep apnea (adult)(pediatric)|
|     9971|      2313|        Surg compl-heart|   Cardiac complications, not elsewhere classified|
|     5845|      2223|Ac kidny fail, tubr necr|Acute kidney failure with lesion of tubular nec...|
|     2760|      2221|         Hyperosmolality|              Hyperosmolality and/or hypernatremia|
|     7742|      2183|Neonat jaund preterm del|Neonatal jaundice associated with preterm delivery|
|     5180|      2137|      Pulmonary collapse|                                Pulmonary collapse|
|     V053|      2119|Need prphyl vc vrl hepat|Need for prophylactic vaccination and inoculati...|
|     4168|      2118|Chr pulmon heart dis NEC|            Other chronic pulmonary heart diseases|
|    49390|      2113|              Asthma NOS|             Asthma, unspecified type, unspecified|
|     2767|      2111|         Hyperpotassemia|                                   Hyperpotassemia|
+---------+----------+------------------------+--------------------------------------------------+

In [24]:
#sc.stop()
print "Done!"

Name: org.apache.toree.interpreter.broker.BrokerException
Message: null was reset!
StackTrace: org.apache.toree.interpreter.broker.BrokerState$$anonfun$reset$1.apply(BrokerState.scala:191)
org.apache.toree.interpreter.broker.BrokerState$$anonfun$reset$1.apply(BrokerState.scala:189)
scala.collection.Iterator$class.foreach(Iterator.scala:893)
scala.collection.AbstractIterator.foreach(Iterator.scala:1336)
scala.collection.IterableLike$class.foreach(IterableLike.scala:72)
scala.collection.AbstractIterable.foreach(Iterable.scala:54)
org.apache.toree.interpreter.broker.BrokerState.reset(BrokerState.scala:189)
org.apache.toree.kernel.interpreter.pyspark.PySparkService$$anonfun$pySparkProcess$2.apply(PySparkService.scala:63)
org.apache.toree.kernel.interpreter.pyspark.PySparkService$$anonfun$pySparkProcess$2.apply(PySparkService.scala:61)
org.apache.toree.interpreter.broker.BrokerProcessHandler.onProcessComplete(BrokerProcessHandler.scala:67)
org.apache.commons.exec.DefaultExecutor$1.run(DefaultExecutor.java:201)
java.lang.Thread.run(Thread.java:745)